<div class="page-header container" id="banner">
    <div class="row">
	<h1>Classroom Needs</h1>
	<p class="lead">There are two ways to give to our classroom. I will either post needs on here (such as supplies for crafts) or you may always donate through <a href="http://www.donorschoose.org/Ms.Mecler?active=true">Donor's Choose</a>. This is a website where I can create projects to receive donations for specific classroom needs from educational retailers. Donor's Choose is an awesome way to donate to your student's education. For more info click <a href="http://www.donorschoose.org/Ms.Mecler?active=true">here</a>.</p>
    </div>
</div>

<div class="articles container">
    
    <article class="row">
	<div class="page-header">
	    <h2>Current Needs</h2>
	</div>
    </article>
</div>
