<div id="carousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
	<li data-target="#carousel" data-slide-to="0" class="active"></li>
	<li data-target="#carousel" data-slide-to="1"></li>
	<li data-target="#carousel" data-slide-to="2"></li>
    </ol>

   
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
	<div class="item active">
	    <img src="/images/3e2c404e-5a31-43bd-80e9-edbfd5fae91d.jpg" alt="Pumpkin pictures hand colored in a row.">
	</div>

	<div class="item active">
	    <img src="/images/6f44fb1b-c6b5-4b36-a444-d40e11a597fd.jpg" alt="Spider hat">
	</div>

	<div class="item active">
	    <img src="/images/7d103ac1-e757-400d-8fb8-1c7fbe3a01c6.jpg" alt="Letters on a board with images.">
	</div>

        <div class="item active">
	    <img src="/images/081bebc7-904e-4866-8e34-5bc1dda1c047.jpg" alt="Pumpkin bags">
	</div>

    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
	<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	<span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
	<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	<span class="sr-only">Next</span>
    </a>
</div>

<div class="page-header container" id="banner">
    <div class="row">
	<h1>Ms. Mecler's Amazing K Class</h1>
    </div>
</div>

<div class="articles container">
    
    <article class="row">
	<div class="page-header">
	    <h2>Welcome!</h2>
	</div>

	<div class="article">
	    <p>Thank you for coming to visit my web page! This will be an amazing school year filled with lots of fun and laughter. I want to be able to provide you with resources to use at home and keep you connected with the school. On this site you will find resources, ways to help the classroom, information on what we're learning at school, and other useful information. As always, feel free to contact me if you have any questions or suggestions! I'm looking forward to see how my kindergarten class is going to grow throughout the year.</p>

	    <!--<div style="color: blue">Read more &gt;&gt;</div>-->
	</div>
    </article>
</div>

