<div class="page-header container" id="banner">
    <div class="row">
	<h1>Resouces</h1>
	<p class="lead">These websites are good tools to help assist your child in learning.</p>
    </div>
</div>

<div class="articles container">
    
    <article class="row">
	<div class="page-header">
	    <h2>Reading</h2>
	    <p class="lead">This is reading help.</p>
	</div>

	<div class="article">
	</div>
    </article>

    <article class="row">
	<div class="page-header">
	    <h2>Math</h2>
	    <p class="lead">This is math help.</p>
	</div>

	<div class="article">
	</div>
    </article>

    <article class="row">
	<div class="page-header">
	    <h2>Miscellaneous</h2>
	    <p class="lead">This is misc help.</p>
	</div>

	<div class="article">
	</div>
    </article>

</div>
