<div class="page-header container" id="banner">
    <div class="row">
	<h1>Resouces</h1>
	<p class="lead">These websites are good tools to help assist your child in learning.</p>
    </div>
</div>

<div class="articles container">
    
    <article class="row">
	<div class="page-header">
	    <h2>Reading</h2>
	    <p class="lead">This is reading help.</p>
	</div>

        <ul class="reading-resources">
            <li><a href="http://www.abcya.com">Abcya</a></li>
            <li><a href="http://www.starfall.com">Starfall</a></li>
            <li><a href="http://www.abcmouse.com">Abcmouse</a></li>
            <li><a href="http://www.khanacademy.com">Khan Academy</a></li>
            <li><a href="http://www.readwritethink.org">Read Write Think</a></li>
            <li><a href="http://www.wonderopolis.org">Wonderopolis</a></li>
            <li><a href="http://www.kids.nationalgeographic.com">Kids National Geographic</a></li>
            <li><a href="http://www.helpmykidlearn.ie">Help my kid learn</a></li>
            <li><a href="http://www.scholastic.com">Scholastic</a></li>
        </ul>
    </article>

    <article class="row">
	<div class="page-header">
	    <h2>Math</h2>
	    <p class="lead">This is math help.</p>
	</div>

	<div class="article">
	</div>
    </article>

    <article class="row">
	<div class="page-header">
	    <h2>Miscellaneous</h2>
	    <p class="lead">This is misc help.</p>
	</div>

	<div class="article">
	</div>
    </article>

</div>
