<div class="page-header container" id="banner">
    <div class="row">
	<h1>Upcoming Events</h1>
    </div>
</div>

<div class="container">
    
    <div class="row">
	<div class="page-header">
	    <h2>November</h2>
	</div>

	<div class="events">
	    <div>Nov 16-20: American Education Week</div>
	    <div>Nov 25: Aquarium Field Trip</div>
	</div>
    </div>
</div>
