@font-face {
    font-family: grundschrift;
    src: url(../fonts/grundschrift/Grundschrift-Normal.otf);
}

body {
    font-family: grundschrift, "Roboto", "Helvetica Neue", Helvetica, Arial, sans-seri;
}

.page-header {
    margin: 20px auto 0px auto;
}

.carousel-inner > .item > img {
    margin: auto;
    height: 500px;
}

#accordion {
    margin-top: 50px;
}

.panel .panel-title {
    font-size: 18px;
}

.reading-resources {
    margin-top: 20px;
}
