@font-face {
    font-family: grundschrift;
    src: url(../fonts/grundschrift/Grundschrift-Normal.otf);
}

html, body {
    font-family: grundschrift, "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 100%;
}

.page-header {
    margin: 20px auto 0px auto;
}

.carousel-inner > .item > img {
    margin: auto;
    height: 500px;
}

#accordion {
    margin-top: 50px;
}

.panel .panel-title {
    font-size: 18px;
}

.reading-resources {
    margin-top: 20px;
}

#wrapper {
    min-height: 100%;
    position: relative;
}

main {
    padding-bottom: 200px;
}

footer {
    background-color: #56BBB0;
    height: 100px;
    margin-bottom: 0px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.events {
    margin-top: 20px;
}
